<div class="main-pin-wrappper">
    <div class="content-box">
        <table width='100%' cellspacing="5">
            <tr>
                <td class='center'>
                    <img src="images/grey.gif" data-original="<%= $full_base_url+this.petopic.thumbnail %>" alt="" class="lazy"/>
                    <h3><%= this.petopic.title %></h3>
                </td>
            </tr>
            <tr>
                <td>
                    <p><%= this.petopic.description %></p>
                </td>
            </tr>
            <tr>
                <td class='center'>
                    <%
                        $auth_code = this.petopic.membership.code;

                        switch($auth_code){
                            case AUTH_NORMAL :
                    %>
                             <a href="" class="btn" id="FollowButton" petopic_id="<%= this.petopic.id %>" ><i class="icon-fire"></i> Follow</a>
                             <a href="" class="btn" id="AddMeInButton" petopic_id="<%= this.petopic.id %>" ><i class="icon-plus"></i> Add me in</a>
                    <%
                                break;
                            case AUTH_ADMIN:
                                break;
                            case AUTH_MEMBER:
                    %>
                             <a href="" class="btn" id="RemoveMeOutButton" petopic_id="<%= this.petopic.id %>" ><i class="icon-minus"></i> Remove Me Out</a>
                    <%
                                break;
                            case AUTH_FOLLOWER:
                    %>
                             <a href="" class="btn" id="UnFollowButton" petopic_id="<%= this.petopic.id %>" ><i class="icon-minus"></i> UnFollow</a>
                             <a href="" class="btn" id="AddMeInButton" petopic_id="<%= this.petopic.id %>" ><i class="icon-plus"></i> Add me in</a>
                    <%                                
                                break;
                        }
                    %>                  
                </td>
            </tr>
        </table>
    </div>
    <div>
        <div class="pin-wrapper-bottom-start"></div>
        <div class="pin-wrapper-bottom-body"></div>
        <div class="pin-wrapper-bottom-end"></div>
    </div>
</div>