<a href='petick_photo_album.html?petopic_id=<%= petopic_id %>&tick_id=<%= id %>' data-ajax="false">
    <img src="<%= $full_base_url+thumbnail %>" alt=""/>
    <h3><%= name %></h3>
    <p><%= content %></p>
</a>
