<div class="pinboard">
    <div class="pin" data-id="361273201327900284" style="border-color: rgb(204, 204, 204);">
        <!-- Pinner element -->
        <%== $.View('//pesome/petopic_detail/peticks_list/views/userInfo.ejs', this ) %>

            <div class="image">
                <a href='petick_video.html?petopic_id=<%= petopic_id %>&tick_id=<%= id %>' data-ajax="false">
                <% if(typeof thumbnail === undefined){ %>
                    <img src="pesome/images/video.png" alt="<%= title %>" class="lazyload"/>
                </a>
                <% }else{ %>
                    <img src="<%= $full_base_url+thumbnail%>" alt="<%= title %>" class="lazyload"/>
                <% } %>
                </a>
            </div>
            <p class="pin_description"><%= title %> <small><%= content %></small></p>


        <%== $.View('//pesome/petopic_detail/peticks_list/views/petickStats.ejs', this ) %>
    </div>
</div>

