<% d(this) %>
<a href="#nestedmenu" data-rel="popup" data-role="button" id='headerButton' class="header-center-button"><i class="icon-white icon-cog"></i> Petick</a>
<div data-role="popup" id="nestedmenu" data-theme="a">
    <ul data-role="listview" data-theme="c" data-inset="true">
        <li data-role="divider" data-theme="a">Post</li>
        <li><a href="create_text.html?petopic_id=<%= petopic_id%>" data-ajax="false"><i class="icon-bookmark"></i> Petick</a></li>
        <li><a href="create_video.html?petopic_id=<%= petopic_id%>" data-ajax="false"><i class="icon-film"></i> Video</a></li>
        <li><a href="create_audio.html?petopic_id=<%= petopic_id%>" data-ajax="false"><i class="icon-headphones"></i> Audio</a></li>
        <li><a href="create_photo.html?petopic_id=<%= petopic_id%>" data-ajax="false"><i class="icon-picture"></i> Photo</a></li>
        <li><a href="create_sharefile.html?petopic_id=<%= petopic_id%>" data-ajax="false"><i class="icon-file"></i> File</a></li>
        <li data-role="divider" data-theme="a">Settings</li>
        <li id="setting-link"><a href="setting.html?petopic_id=<%= petopic_id%>" data-ajax="false"><i class="icon-wrench"></i> Settings</a></li>
    </ul>
</div>
