<a href="#popupPostPetick" data-rel="popup" data-role='button' id='headerButton' class="header-center-button"><i class="icon-white icon-pencil"></i> Post</a>
<div id="popupPostPetick" data-role="popup" data-theme="e" data-overlay-theme="a" class="ui-content">
        <ul data-role="listview">
            <li><a href="create_text.html?petopic_id=<%= petopic_id%>" data-ajax="false"><i class="icon-white icon-bookmark"></i> Petick</a></li>
            <li><a href="create_video.html?petopic_id=<%= petopic_id%>" data-ajax="false"><i class="icon-white icon-film"></i> Video</a></li>
            <li><a href="create_audio.html?petopic_id=<%= petopic_id%>" data-ajax="false"><i class="icon-white icon-headphones"></i> Audio</a></li>
            <li><a href="create_photo.html?petopic_id=<%= petopic_id%>" data-ajax="false"><i class="icon-white icon-picture"></i> Photo</a></li>
            <li><a href="create_sharefile.html?petopic_id=<%= petopic_id%>" data-ajax="false"><i class="icon-white icon-file"></i> File</a></li>
        </ul>
</div>